flake8  # To lint Python code
flake8-absolute-import
flake8-black
flake8-docstrings
flake8-isort
flake8-unused-arguments
flake8-use-fstring
flake8-warnings
pep8-naming
pyflakes
nbqa  # To lint Jupyter notebooks
